.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-group-elements-1 {
  width: 968px;
  min-height: 161px;
  margin: 78px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: "Amatic SC";
  font-size: 4.375rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.0625rem;
  margin: 23px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1070px;
  margin: 51px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: "Amatic SC";
  font-size: 2.8125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-text-5 {
  font-family: "Amatic SC";
  font-size: 2.8125rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 0.9375rem;
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}.modalpopup {
 min-height: unset !important;
 max-height: calc(100vh - 100px) !important;
 overflow-y: auto !important;
}